.service {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

.title {
    margin-bottom: 10px;
}

.description {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.price {
    margin-bottom: 10px;
}

.add-btn {
    width: 100%;
}